BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 150

---
Language: Cpp

DerivePointerAlignment: false # Force pointer * to the left
PointerAlignment: Left

AlignConsecutiveShortCaseStatements: 
  Enabled: true # Aligns case statements in switch statements

BreakBeforeBraces: Allman # Allways break before braces
